.sideBar {
  display: block;
  width: 250px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  margin-right: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.2);
  transition: all 0.5s;
  transform: translateX(0px);
}

.sideBar .container {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transition: all 0.5s;
}

.container .sideBarTitle {
  font-size: 14px;
  padding: 20px;
}

.close {
  width: 0;
  padding: 0px;
}

.close .container {
  transform: translateX(-200px);
}

.editBox {
  display: flex;
  justify-content: space-between;
}
